SUPABASE_URL='https://hribmixdrzamlausyjsi.supabase.co'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyaWJtaXhkcnphbWxhdXN5anNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTM2MjE2NDEsImV4cCI6MjAyOTE5NzY0MX0.NxEB38nmsvf27pyYOIBZ90E0EDEgh9DaF4tIe0EA2FI'